.fbHeaderTitleBranded
{
    background: #3B5998;
    color: white;
    cursor: default;
    padding-bottom: 5px;
    padding-top: 7px;
}

.fbHeaderMainTable
{
    background: #3B5998 !important;
}

.fbHeaderLink
{
    font-size: 13px;
    color: White;
    text-decoration: none;
    padding-left: 10px;
    vertical-align: middle;
    text-align: left;
    font-family: verdana,arial,helvetica,sans-serif;
}

.fbHeaderLink a, .fbHeaderLink a:link, .fbHeaderLink a:Active, .fbHeaderLink a:Hover, .fbHeaderLink a:visited
{
    color: White;
    font-size: 13px;
    text-decoration: none;
    font-family: verdana,arial,helvetica,sans-serif;
}

.fbHeaderImage
{
    text-align: right;
    padding-right: 10px;
}

.fbHeaderImage IMG
{
    height: 17px;
    width: 60px;
}

.fbTextBox
{
    width: 99.8%;
    margin-top: -2PX;
    padding: 0px;
    border: 1px solid #D2CE97;
}

.fbMainRow
{
    border-left: 0px !important;
    border-right: 0px !important;
    border-top: 0px !important;
    border-bottom: 1px solid lightgray !important;
}

.fbHeaderImage
{
    margin-left: 10px;
    vertical-align: middle;
}

.fbMainTable
{
    width: 100%;
    border-collapse: collapse;
}


.fbWallMessage
{
    word-wrap: break-word;
}

.fbWallDescription
{
    word-wrap: break-word;
}

.fbPagingTable
{
    height:20px;
}
.fbLikes
{
	color: #3B5998 !important;
	cursor: pointer;
}
